:root {
    --font-color: #333;
    --link-color: cornflowerblue;
  }
  
  /* 2 */
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
  }
  body{
    background-color: var(--background-color);
    color: var(--font-color);
}
  .toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  
  .toggle-theme-wrapper span {
    font-size: 16px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 50px;
  }
  span .myimg{
    width: 24px;
    margin-right: 2px;
  }
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: cornflowerblue;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }